<%- include("partials/header") %>

	<div id="contact" class="container">

		<div class="row">
			<div class="col d-flex justify-content-center">
				<a href="http://facebook.com">
					<i class="fab fa-facebook-square fa-5x"></i>
				</a>
			</div>
			<div class="col d-flex justify-content-center">
				<a href="http://instagram.com">
					<i class="fab fa-instagram-square fa-5x"></i>
				</a>
			</div>
			<div class="col d-flex justify-content-center">
				<a href="http://youtube.com">
					<i class="fab fa-youtube-square fa-5x"></i>
				</a>
			</div>
			<div class="col d-flex justify-content-center">
				<i class="fab fa-linkedin fa-5x"></i>
			</div>
			<div class="col d-flex justify-content-center">
				<i class="fas fa-envelope-square fa-5x"></i>
			</div>
		</div>

    </div>

<%- include ("partials/footer") %>